body {
  font-family: 'Do Hyeon', sans-serif;
}

.header {
  text-align: center;
}

.header > div {
  background-color: #253f85;
  color: white;
}

.header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section {
  background-color: #253f85;
  color: white;
  font-size: 40px;
  text-align: center; 
}